body {
    margin: 0;
    padding: 0;

    font-family: Verdana, Geneva, Tahoma, sans-serif;

    display: flex;
    flex-flow: column;

    justify-content: center;
    align-items: center;
}

h2 {
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;
    margin-top: 1rem;
    text-align: center;
}

date {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

date p {
    margin-right: .7rem;
}

date input {
    border-radius: .5ch;
}

column-label {
    width: 60vw;
    display: flex;
    flex-flow: row nowrap;
    margin: .1rem;
}

column-label label:nth-child(1) {
    width: 23.8ch;
}

row {
    width: 100ch;
    display: flex;
    flex-flow: row nowrap;

    padding: .1rem;

    background-color: #f0f0f0;
}

row input[type="number"] {
    width: 18ch;
    opacity: .8;
}

row input[type="file"] {
    width: 100%;

    border: .1rem solid rgba(0, 0, 0, 0);
    border-radius: .5ch;
}

row p {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    opacity: 1;
    align-self: center;
    text-align: center;

    width: 10ch;

    margin-right: 2ch;
}

modifiers {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    padding: .1rem;
    margin-left: 5vw;

    height: 1.5rem;
}

@keyframes expand {
    from {
        height: 1.5rem;
    }

    to {
        height: 3rem;
    }
}
@keyframes collapse {
    from {
        height: 3rem;
    }

    to {
        height: 1.5rem;
    }
}

modifiers label {
    font-size: small;
    margin-left: 2ch;
}

modifiers img {
    height: .9rem;
    aspect-ratio: 1/1;
    margin-left: .1vw;
    margin-right: .2vw;
    margin-top: .1vw;
}


modifiers input {
    margin: 0;
    padding: 0;
    width: 3ch;
    aspect-ratio: 1/1;
}

scroller {
    padding: 0;
    margin: 0;
    width: 60vw;
    overflow-y: scroll;
    overflow-x: scroll;
    height: 63vh;
}

scroller::-webkit-scrollbar {
    display: none;
}

scroller {
    background:
        /* Shadow Cover TOP */
        linear-gradient(white 30%, rgba(255, 255, 255, 0)) center top,

        /* Shadow Cover BOTTOM */
        linear-gradient(rgba(255, 255, 255, 0), white 70%) center bottom,

        /* Shadow TOP */
        radial-gradient(farthest-side at 50% 0, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)) center top,

        /* Shadow BOTTOM */
        radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)) center bottom;

    background-repeat: no-repeat;
    background-size: 100% 2rem, 100% 2rem, 100% 1rem, 100% 1rem;
    background-attachment: local, local, scroll, scroll;
}

@media (max-aspect-ratio: 10/9) {
    scroller {
        width: 90vw;
    }
}

export {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color: white;
}

export status {
    margin: 0.1rem;
    padding: 0;
    font-size: .8rem;
    opacity: .8;
    text-align: center;
    height: 1rem;
}

export button {
    margin: 1rem;
    padding: .2rem;
    margin-top: 0;
    width: 8ch;
    font-size: 1.1rem;
}

#overwriteButton {
    margin: 0;
    margin-left: 2ch;
    padding: 0;
    font-size: .8rem;
    width: 10ch;
}

footer {
    z-index: -1;

    text-align: center;
    position: absolute;
    bottom: 1.23rem;
    width: 100vw;
    font-size: .9rem;
    opacity: .9;
}